In [8]:
import pandas as pd

# Load the CSV file
df = pd.read_csv(r'E:\intern\elevatelabs\marketing_campaign.csv', delimiter='\t')

# Identify missing values
missing_summary = df.isnull().sum()

# Optionally: Handle missing values (e.g., drop rows with nulls)
df_cleaned = df.dropna()  # Or use df.fillna(value) for filling

In [9]:
df_cleaned.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [10]:
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Optional: Check the number of duplicate rows removed
num_duplicates_removed = len(df) - len(df_no_duplicates)
print(f'Duplicates removed: {num_duplicates_removed}')

Duplicates removed: 0

In [11]:
# Standardize text in relevant columns

# 'Education' and 'Marital_Status' standardized to lowercase and stripped
df_no_duplicates['Education'] = df_no_duplicates['Education'].str.lower().str.strip()
df_no_duplicates['Marital_Status'] = df_no_duplicates['Marital_Status'].str.lower().str.strip()

In [12]:
# Convert 'Dt_Customer' to consistent date format (e.g., dd-mm-yyyy)
df_no_duplicates['Dt_Customer'] = pd.to_datetime(df_no_duplicates['Dt_Customer'], errors='coerce').dt.strftime('%d-%m-%Y')

In [13]:
# Clean column headers - make lowercase and replace spaces with underscores
df_no_duplicates.columns = [col.strip().lower().replace(' ', '_') for col in df_no_duplicates.columns]
print(df_no_duplicates.columns)

Index(['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome',
       'teenhome', 'dt_customer', 'recency', 'mntwines', 'mntfruits',
       'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts',
       'mntgoldprods', 'numdealspurchases', 'numwebpurchases',
       'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth',
       'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1',
       'acceptedcmp2', 'complain', 'z_costcontact', 'z_revenue', 'response'],
      dtype='object')

In [14]:
# Check data types
print(df_no_duplicates.dtypes)

# Convert columns to correct types
df_no_duplicates['year_birth'] = pd.to_numeric(df_no_duplicates['year_birth'], errors='coerce').astype('Int64')
df_no_duplicates['income'] = pd.to_numeric(df_no_duplicates['income'], errors='coerce').astype('float')
df_no_duplicates['kidhome'] = pd.to_numeric(df_no_duplicates['kidhome'], errors='coerce').astype('Int64')
df_no_duplicates['teenhome'] = pd.to_numeric(df_no_duplicates['teenhome'], errors='coerce').astype('Int64')
df_no_duplicates['recency'] = pd.to_numeric(df_no_duplicates['recency'], errors='coerce').astype('Int64')
df_no_duplicates['dt_customer'] = pd.to_datetime(df_no_duplicates['dt_customer'], format='%d-%m-%Y', errors='coerce')
# Repeat for other numeric columns as needed

id                       int64
year_birth               int64
education               object
marital_status          object
income                 float64
kidhome                  int64
teenhome                 int64
dt_customer             object
recency                  int64
mntwines                 int64
mntfruits                int64
mntmeatproducts          int64
mntfishproducts          int64
mntsweetproducts         int64
mntgoldprods             int64
numdealspurchases        int64
numwebpurchases          int64
numcatalogpurchases      int64
numstorepurchases        int64
numwebvisitsmonth        int64
acceptedcmp3             int64
acceptedcmp4             int64
acceptedcmp5             int64
acceptedcmp1             int64
acceptedcmp2             int64
complain                 int64
z_costcontact            int64
z_revenue                int64
response                 int64
dtype: object